<%- include('../partials/Head'); %>

<div className="App">
		<div className="Drawer">
				<div className="DHeader">
						<img id="logo" src="../assets/CarConnect.png" height={100}/>
						<div className="HeaderInfos">
								<p>USER</p>
								<p>USER NAME</p>
								<p>NB VEHICULE</p>
						</div>
				</div>
				<div className="DrawerOptions">
						<a href="/vehicules">Vehicules</a>
						<a href="/Factures">Factures</a>
				</div>
		</div>
		<div className="Content">
				{content}
		</div>
</div>
