html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  height: 100%;
  background-color: #1E1E1E;
  display: flex;
}

.Drawer {
  background-color: #2c84cc;
	color: white;
  height: 100%;
  width: 175px;
}

.DHeader {
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#logo {
  width: 100px;
  height: 100px;
}

.DOptions p {
  color: white;
  margin: 4px 0;
  padding: 12px 0 12px 16px;
}

.DOptions p:hover {
  cursor: pointer;
  background-color: #222222;
}

.Content {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Content p {
  color: white;
}

thead, tbody { display: block; }

#table_content {
  height: 500px;       /* Just for the demo          */
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}

.submit-form-butt {
    --background: #069c24;
}

hr {
	height: 2px;
	color: #069c24;
	background-color: #069c24;
	width: 75%;
	border: none;
}

.logo-connect {
	width: 30%;
	height: 30%;
	border-radius: 50%;
}
