<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/auth.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script type="text/javascript" src="/js/auth.js"></script>
	<meta charset="utf-8"/>
	<title>Authentification</title>
</head>


<body>

	<div class="box">
		<form id="signinForm" class="box1 w3-row" >
			<div class="change-form log">
				<a onclick="moveImg(0);"><b>Connection</b></a>
			</div>
			<div class="canvas-content">
				<h3><b>Création de compte</b></h3>
				<p class="exp-line">Bienvenue! Remplissez toutes les informations demandées pour créer votre compte d'entreprise.</p>
				<br/>

				<input name="name" class="w3-input w3-border w3-round" placeholder="NOM et prénom du gestionnaire" required></input><br/>
				<input name="email" class="w3-input w3-border w3-round" type=email placeholder="Adresse email" required></input><br/>
				<input name="password" class="w3-input w3-border w3-round" type="password" placeholder="Mot de passe" required></input><br/>
				<input name="company" class="w3-input w3-border w3-round" placeholder="Nom de l'entreprise" required></input><br/>
			</div>

			<div class="canvas-footer">
				<input type="button" class="summit-button" onclick="signInUser();" value="S'inscrire maintenant">
				<hr class="hr">
			</div>
		</form>


		<div id="img" class="box2">
			<img src="/assets/cartouche.png">
		</div>


			<form id="loginForm" class="box1 w3-row">
				<div class="change-form sign">
					<a onclick="moveImg(1);"><b>Inscription</b></a>
				</div>

				<div class="canvas-content">
					<h3><b>Connection</b></h3>
					<p class="exp-line">Bienvenue! Remplissez les informations pour vous connecter à votre compte entreprise.</p>
					<br/>
					<br/>

					<input name="email" class="w3-input w3-border w3-round" type=email placeholder="Adresse email" required></input><br/>
					<input name="password" class="w3-input w3-border w3-round" type="password" placeholder="Mot de passe" required></input>
					<a class="forgetPassword"><i>mot de passe oublié ?</i></a>
					<br/>
					<br/>
				</div>

				<div class="canvas-footer">
					<input type=button		 class="summit-button" onclick="logInUser();" value="Se connecter">
						<hr class="hr">
				</div>
				<div class="winPlace">
					<br/>
					<br/>
					<br/>
					<br/>
				</div>
			</form>
	</div>

</body>

<script src="public/js/auth.js"></script>
<script>
	document.getElementById("signinForm").hidden = <%=auth%>;
	document.getElementById("loginForm").hidden = !document.getElementById("signinForm").hidden;
	document.getElementById("signinForm").onsubmit = signInUser;
	document.getElementById("loginForm").onsubmit = logInUser;
</script>

</html>
